@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600;700&display=swap");

html {
  @apply scroll-smooth;
}

.nav-link {
  @apply text-white hover:text-red-500;
}
